<div [formGroup]="parentForm" class="form-container">
  <mat-form-field>
    <input matInput type="number" placeholder="Card Number" formControlName="cardNumber">
  </mat-form-field>
  <mat-form-field>
    <input matInput type="number" placeholder="cvv" formControlName="cvv">
  </mat-form-field>
  <mat-form-field>
    <input matInput [matDatepicker]="picker" placeholder="Expiration Date" formControlName="expirationData">
    <mat-datepicker-toggle matSuffix [for]="picker"></mat-datepicker-toggle>
    <mat-datepicker #picker></mat-datepicker>
  </mat-form-field>
</div>